{{> restaurant-tabs route='topRestaurants'}}

<h1>Top 10 人氣餐廳</h1>
<hr />
<div class="row">
  {{#each restaurants}}
  <div class="col-md-12">
    <div class="card mb-3 mx-auto" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4 overflow-hidden">
          <img src="{{this.image}}" class="img-fluid rounded-start w-100"
            style="object-fit: cover; aspect-ratio: 1 / 1;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              <a href="/restaurants/{{this.id}}">{{this.name}}</a>
            </h5>
            <span class="badge bg-secondary mb-2">收藏數：{{this.favoritedCount}}</span>
            <p class="card-text text-truncate">{{this.description}}</p>
            <div>
              <a href="/restaurants/{{this.id}}" class="text-decoration-none">
                <button class="btn btn-primary">Show</button>
              </a>
              {{#if this.isFavorited}}
              <form action="/favorites/{{this.id}}?_method=DELETE" method="post" style="display: inline;">
                <button type="submit" class="btn btn-danger">移除最愛</button>
              </form>
              {{else}}
              <form action="/favorites/{{this.id}}" method="post" style="display: inline;">
                <button type="submit" class="btn btn-primary">加到最愛</button>
              </form>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>